@using Radzen;
@using WebAppNasaApi.Models;
@using Radzen.Blazor
@code {
    [Parameter]
    public List<Apod> listApodDB { set; get; }
    Variant variant = Variant.Filled;
}

@if (listApodDB.Count() > 0)
{
    <h3>Pitures of the day saved: @listApodDB.Count()</h3>
    <div Class="rz-p-0 rz-p-md-12">
        @foreach (var item in listApodDB)
        {
            <RadzenCard Variant="@variant" Class="rz-my-12 rz-mx-auto" Style="max-width: 900px">
                <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" Gap="1rem" Class="rz-p-4">
                    <RadzenLink Path="@item.hdurl" Target="_blank">
                        <RadzenImage Path="@item.url" Style="width: 300px; height: 300px; border-radius: 10%;"/>
                    </RadzenLink>
                    <RadzenStack Gap="0">
                        <RadzenText TextStyle="TextStyle.H3"><b>@item.title</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Body2"><b>@item.explanation</b></RadzenText>
                        <RadzenText TextStyle="TextStyle.Overline">
                            Fecha: @item.date.ToString("dd/MM/yyyy") | Autor: @item.copyright</RadzenText><br/>
                    </RadzenStack>
                </RadzenStack>
            </RadzenCard>
        }
    </div>
    
}
else
{
    <div class="text-center">
        <h1>There arent any to show here :/</h1>
    </div>
}


