@page
@model WebAppNasaApi.Pages.ImageVideosModel
@{
}

<div class="text-center">
    <h1>Imagenes</h1>
    <form method="post">
       <input type="text" name="input-search-image" placeholder="Buscar..." 
       style="width:500px; padding:0;margin:0"/>
       <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    @if (ViewData["is_post"] is true)
    {
        <p>@Model.image_response.collection.items.Count() Resultado/s de busqueda sobre
            "@Model.input_search"</p>
    }
</div>

<div class="gallery">

    @if (Model.image_response.collection.items.Any())
    {
        foreach (var item in Model.image_response.collection.items)
        {
            int index = 0;
            <div class="gallery-item">
                @foreach(var link in item.links)
                {
                    <div class="card">
                        <img src="@link.href" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">@item.data.ElementAt(index).title</p>
                        </div>
                    </div>

                    @*<a href="@link.href" target="_blank">
                        <img src="@link.href" />
                    </a>
                        <a>@item.data.ElementAt(index).title</a>*@
                    index++;
                }
            </div>

        }
    }
</div>

