@page
@model WebAppNasaApi.Pages.ImageDetailsModel


@foreach(var item in Model.nasaimagemodel)
{
    <h1>@item.title</h1>
    <figure>
        <a href="@item.href" target="_blank">
            <img src="@item.href" >
        </a>
    </figure>

    <p>@item.description</p>

<form method="post">
        <input type="hidden" name="id_image" value="@item.nasa_id" />
    @if (Model._saved is true)
    {
        <button type="submit" class="btn btn-danger">Quitar de guardado</button>
    }
    else
    {
        <button type="submit" class="btn btn-success">Guardar Imagen</button>
    }
</form>
}