@page
@model WebAppNasaApi.Pages.ImageVideosModel
@{
    
}

<div class="text-center mb-3">
    <h1>Imagenes</h1>
    <form method="post">
       <input type="text" class="form-control mx-auto" name="input-search-image" placeholder="Buscar..." 
       style="width:500px; padding:0; display:inline;"/>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    @if (ViewData["is_post"] is true)
    {
        <p>@Model.image_response.collection.items.Count() Resultado/s de busqueda sobre
            "@Model.input_search"</p>
    }
</div>

<div class="imagen-grid">

    @if (Model.image_response.collection.items.Any())
    {
        foreach (var item in Model.image_response.collection.items)
        {
            int index = 0;
            
            @foreach(var link in item.links)
            {
                <div class="imagen-item">
                    <a href="@link.href" target="_blank">
                        <img src="@link.href" class="card-img-top" alt="...">
                    </a>
                    @*<button class="favorite-button" onclick="toggleFavorite">&#9733;</button>*@
                    <button class="favorite-button" onclick="greetButton">&#9733;</button>
                    <div class="imagen-titulo">@item.data.ElementAt(index).title</div>
                    
                </div>

                index++;
            }
        }
    }
</div>

