@page
@model WebAppNasaApi.Pages.MarsRoverModel
@{
}

@*@foreach (var photo in Model._photosResponse.Photos)
{
    <img src="@photo.img_src"/>
    <p>@photo.earth_date.ToShortDateString()</p>
    <p>@photo.camera.full_name</p>
}*@

<div class="row row-cols-sm-2 row-cols-md-3">
    @foreach (var photo in Model._photosResponse.Photos)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="@photo.img_src" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-subtitle">@photo.camera.full_name</p>
                    <p class="card-text">@photo.earth_date.ToShortDateString()</p>
                </div>
            </div>
        </div>
    }
</div>